.wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 500px){
    flex-direction: column;
    row-gap: 15px;
  }
}

.info {
  font-weight: 500;
  color: #b5b7c0;
  letter-spacing: -1%;
}

.pages {
  display: flex;
  column-gap: 12px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -1%;
}

.page {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: #404b52;
  transition: 0.3s all ease 0s;

  &:hover {
    background-color: #5932ea;
    color: #ffffff;
  }
}

.page__current {
  background-color: #5932ea;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.icon {
  transform: rotate(180deg);
}
